<%= provide(:title, 'Home') %>
<%= provide(:css_file, (stylesheet_link_tag 'static_pages_home', :media => "all")) %>
<%= provide(:js_file, (javascript_include_tag 'static_pages_home')) %>

<div id="homepage">
	<div class="row">
		<div class="large-2 columns">
			<p class="font-bold fs20 no-mgbot">Categories</p>
			<ul class="side-nav">
				<% @categories_text.each do |category| %>
					<li <%=("class=\"active\"").html_safe if @category_selected_name == category.titleize %>><a href="<%= category_name_to_url(category) %>"><%= category %></a></li>
				<% end %>
			</ul>
		</div>
		<div class="large-10 columns">
			<p class="font-bold fs20"><%= @category_selected_name %></p>
			<ul class="large-block-grid-4">
				<% @all_tees.each do |tee| %>
					<li>
						<div class="product">
							<div class="frame">
								<img class="lazy" data-original="<%= tee[:src] %>" width="200" height="300">
							</div>
							<div class="product-info">
								<h1 class="font-medium fs15">
									<span><%= tee[:name] %></span><br/>
									<span><%= tee[:price] %></span>
								</h1>
							</div>
						</div>	
					</li>
				<% end %>
			</ul>
		</div>
	</div>
</div>