<%= provide(:title, 'Search') %>
<%= provide(:css_file, (stylesheet_link_tag 'categories', :media => "all")) %>
<%= provide(:js_file, (javascript_include_tag 'categories')) %>

<div id="category-page">
	<div class="row">
		<div class="large-2 columns">
			<%= render 'partials/sidebar' %>
		</div>
		<div class="large-10 columns">
			<p class="font-bold fs20">Search results for: "<%= @search_query%>"</p>
			<ul class="large-block-grid-4">
				<% @all_tees.each do |tee| %>
					<li>
						
						<div class="product">
							<div class="frame">
								<img class="lazy" data-original="<%= tee[:src] %>" width="200" height="300">
							</div>
							<div class="product-info">
								<h1 class="font-medium fs15">
									<span><%= tee[:name] %></span><br/>
									<span><%= tee[:price] %></span>
								</h1>
							</div>
						</div>	
					</li>
				<% end %>
			</ul>
		</div>
	</div>
</div>