<%= provide(:title, @tee_name) %>
<%= provide(:css_file, (stylesheet_link_tag 'tee', :media => "all")) %>
<%= provide(:js_file, (javascript_include_tag 'tee')) %>

<div id="tee-page">
	<div class="row">
		<div class="large-2 columns">
			<%= render 'partials/sidebar' %>
		</div>
		<div class="large-10 columns">
			<p class="font-bold fs20"><%= @tee_name %></p>
		</div>
	</div>
</div>