<nav class="top-bar" data-topbar role="navigation">
	<ul class="title-area">
		<li class="name">
			<%= image_tag 'logo.png' %>
			<h1 class="font-bold"><a href="/">Tee Shop</a></h1>
		</li>
	</ul>

	<section class="top-bar-section">
		<ul class="right">
			<li class="has-form">
				<form id="search-form" action=<%= search_index_path %> method="GET">
					<input type="text" name="query"/>
				</form>
			</li>
			<li>
				<%= button_tag "Search", id: "search-button" %>
			</li>
		</ul>
	</section>
</nav>
