<p class="font-bold fs20 no-mgbot">Categories</p>
	<ul class="side-nav">
		<% @categories.each do |category| %>
			<li <%=("class=\"active\"").html_safe if @category && @category.name == category.name %>><a href="<%= category_path(category) %>"><%= category.name %></a></li>
		<% end %>
	</ul>