/*font-family*/
@font-face {
  font-family: "SupriaSans-CondBold";
  src: font-url("SupriaSans-CondBold.otf") format("opentype");
}
@font-face {
  font-family: "SupriaSans-CondLight";
  src: font-url("SupriaSans-CondLight.otf") format("opentype");
}
@font-face {
  font-family: "SupriaSans-CondMedium";
  src: font-url("SupriaSans-CondMedium.otf") format("opentype");
}
@font-face {
  font-family: "SupriaSans-CondRegular";
  src: font-url("SupriaSans-CondRegular.otf") format("opentype");
}

/*font-size*/
.fs31 {
	font-size: 31px;
}
.fs20 {
  font-size: 20px;
}
.fs15 {
	font-size: 15px;
}

/*font-style*/
.font-bold {
	font-family: "SupriaSans-CondBold";
}
.font-medium {
	font-family: "SupriaSans-CondMedium";
}
.font-light {
	font-family: "SupriaSans-CondLight";
}
.font-regular {
	font-family: "SupriaSans-CondRegular";
}