/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides
 *= require _typography.scss
 *= require _layout.scss

 */

body {
	-webkit-font-smoothing: antialiased;
}

.top-bar .name img {
	height: 40px;
	margin-left: 16px
}
.top-bar .name h1 {
	display: inline-block;
}
.top-bar .name h1 a {
	padding-left: 0px !important;
}
.top-bar-section li.has-form {
	padding-right: 0.3375rem;
}
.top-bar li:last-child {
	margin-right: 30px;
}