#category-page > .row {
	margin-top: 36px;
}
#category-page .side-nav li {
	font-size: 13px;
	margin-bottom: 0px;
}
#category-page .side-nav li.active a {
	font-family: "SupriaSans-CondBold";
	font-size: 15px;
}
#category-page .product .frame {
	width: 186px;
	height: 186px;
	overflow: hidden;
}
#category-page .product {
	position: relative;
	overflow: hidden;
}
#category-page .product-info {
	position: absolute;
	background-color: rgba(0, 0, 0, 0.5);
	width: 100%;
	bottom: -100px;
	transition: all 0.5s;
}
#category-page .product-info h1 {
	margin-left: 6px;
	margin-bottom: 0px;
	color: white;
}
#category-page .product:hover .product-info {
	bottom: 0px;
}