<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= full_title(yield(:title)) %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= render 'partials/header' %>

    <%= yield %>

    <%= content_for?(:css_file) ? yield(:css_file) : "" %>
    <%= content_for?(:js_file) ? yield(:js_file) : "" %>
  </body>

  <%= javascript_include_tag "jquery.lazyload.js" %>
  <%= javascript_include_tag "_header" %>
</html>
